

    <table>
        <tbody>
            <tr>
                <th>wlan_id</th>
                <td>{{ wlan_id }}</td>
            </tr>
            <tr>
                <th>ap_mac</th>
                <td>{{ ap_mac }}</td>
            </tr>
            <tr>
                <th>client_mac</th>
                <td>{{ client_mac }}</td>
            </tr>
            <tr>
                <th>url</th>
                <td>{{ url }}</td>
            </tr>
            <tr>
                <th>ap_name</th>
                <td>{{ ap_name }}</td>
            </tr>
            <tr>
                <th>site_name</th>
                <td>{{ site_name }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div>{{auth_link_jwt}}</div>
    <a href={{auth_link_jwt}}>link</a>
    <hr>
    <div>{{auth_link_sig}}</div>
    <a href={{auth_link_sig}}>link</a>
    